<div class="card a" style="width: 50rem" >
  <div class="card-body" style="background-color:#ffffff;">
<div style="padding:20px;">
    <h2 align="center">Student Details</h2>
    <table class="table">
        <tbody>

          <tr>
              <td>Student Name</td>
              <td>{{name}}</td>
            </tr>
            <tr>
                <td>Student Branch</td>
                <td>{{branch}}</td>
              </tr>
              <tr>
                  <td>Fav. Language</td>
                  <td>{{favlang}}</td>
                </tr>
                <tr>
                    <td>Percentage</td>
                    <td>{{percentage}}</td>
                  </tr>
                  <tr>
                      <td>Join Date</td>
                      <td>{{joindate}}</td>
                    </tr>
                    <tr>
                        <td>Student-ID</td>
                        <td>{{id1}}</td>
                      </tr> 
                 <tr>
                   <td colspan="2" align="center">
                    <a class="btn btn-lg btn-info" href="http://localhost:4200/students">back</a> 
                  </td>  
                </tr>         
        </tbody>
      </table>

</div>
</div>
